name: CI Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven

      - name: Build and Run Tests
        working-directory: streamvault-backend
        run: mvn clean verify

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u brb46896 ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: Build Docker Image
        working-directory: streamvault-backend
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/blogging-app .



      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/blogging-app
